body{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}

input {
  border: none;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}

.letterContent{
  width: 50px;
  height: 50px;
}